body {
	background-color: #e0e0e0;
}
.jumbotron {
	background: url("./images/christmaslights.jpg")
	no-repeat;
		width: 100%;
		height: 100%;
		background-size: cover;
	color: #ffffff;	
	border-color: #1f6660;
	height: 30vw;
	background-position: 50% 25%;
	margin: 0px;
	border-radius: 0px;
}

.jumbotron #display {
	font-size:6vw;
	font-family: 'Sacramento', cursive;
	text-align: center;
	margin-top:10vw;
}

.jumbotron .lead {
	font-family: 'Josefin Slab', serif;
	font-size:4vw;
	text-align:center;
}

.navbar {
	background-color: #22525e;
} 

.navbar-brand {
	font-family: 'Sacramento', cursive;
	font-size: 32px;
	color: #ffffff !important;
}

.nav-item {
	margin: 10px;
	border-radius: 4px;
}

.nav-link {
	color: #e0e0e0 !important;
}
#map {
	margin-left:15px;
}

#floating-panel {
    top: 10px;
    left: 25%;
    width: 45%;
    z-index: 5;
    background-color: #22525e;
    padding: 5px;
    text-align: center;
    font-family: 'Josefin Slab', serif !important;
    line-height: 30px;
    margin-left: 15px;
}  

#weather {
	width:45%;
	height:30%;
	background-color:#22525e;
	text-align: center;
	font-family: 'Josefin Slab', serif !important;
	font-size: 24px;
	color: #ffffff;
	line-height: 30px;
	margin-top:5px;
	margin-left:15px;
	padding: 10px;

}
