html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #e0e0e0;
	align-content: center;
}

.container-fluid {
	padding:0;
}
.jumbotron {
	background: url("./images/christmaslights.jpg")
	no-repeat;
		width: 100%;
		height: 100%;
		background-size: cover;
	color: #ffffff;	
	border-color: #1f6660;
	height: 30vw;
	background-position: 50% 25%;
	margin: 0px;
	border-radius: 0px;
}

.jumbotron #display {
	font-size:6vw;
	font-family: 'Sacramento', cursive;
	text-align: center;
	margin-top:10vw;
}

.jumbotron .lead {
	font-family: 'Josefin Slab', serif;
	font-size:4vw;
	text-align:center;
}

.navbar-light {
	background-color: #22525e;
} 

.navbar-brand {
	font-family: 'Sacramento', cursive;
	font-size: 32px;
	color: #ffffff !important;
}

.nav-item {
	margin: 10px;
	border-radius: 4px;
}

.nav-link {
	color: #e0e0e0 !important;
}

#map {
	height: 100%;
	width: 100%;
}

#mapHeight {
	height: 300px;
	padding:0;
}

#floating-panel {
    background-color: #22525e;
    padding: 5px;
    text-align: center;
    font-family: 'Josefin Slab', serif !important;
    line-height: 30px;
}


.footer {
	padding:15px;
	border-top-style: solid;
	border-color:#87d9e5;
	border-top-width: 5px;
	background-color: #22525e;
	font-size: 18px;
	color: #ffffff;
}
#directions {
	background-color: #22525e;
	color: #e0e0e0;
    padding: 5px;
    text-align: center;
    line-height: 30px;;
}
#from {
	background-color: #22525e;
	color: #e0e0e0;
}
#to {
	background-color: #22525e;
	color: #e0e0e0;
}
#step-by-step {
	background-color: #337c8e;
	color: #e0e0e0;
}
#copyright {
    font-family: 'Josefin Slab', serif !important;
    padding-top:5px;
}

@media screen and (max-width: 480px) {
	.jumbotron {
		height: 40vw;
	}

	.jumbotron #display {
		font-size:7vw;
		margin-top:11vw;
	}
}